{% extends 'base.html' %}

{% block content %}
<head>
	<title>Записи сообщества {{ group.title }}</title>
</head>

<body>
	<main>
		<h1>Лев Толстой – зеркало русской революции.</h1>
		<p>
			Группа тайных поклонников графа.
		</p>
		<article>
			{% for post in posts %}
				<ul>
					<li>
						Автор: {{ post.author.get_full_name }}
					</li>
					<li>
						Дата публикации: {{ post.pub_date|date:"d E Y" }}
					</li>
				</ul>
				<p>{{ post.text|linebreaksbr }}</p>    
				{% if not forloop.last %}<hr>{% endif %}
			{% endfor %}
		</article>
	</main>
</body>

{% endblock %}